@import "https://luckfire.github.io/theme-source/src/css-compile/ThemeSource-Compiled.css";
/* forked off Theme-Source by LuckFire, amazing person */

/* popup/confirmation boxes */
.theme-dark .message-2qRu38 { background-color: #1A1C1E; }
.theme-dark .root-1gCeng { background-color: #1A1C1E; }
.theme-dark .footer-2gL1pp { background-color: #151718; }
/* reactions */
.reactors-Blmlhw.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 { background-color: #1A1C1E; }
.scroller-1-nKid.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 { background-color: #1A1C1E; }
/* upload popup */
.uploadModal-2ifh8j { background-color: #1A1C1E; }
.footer-3mqk7D { background-color: #151718; }
/* text channel creation */
.modal-2VIBV8.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y { background-color: #1A1C1E; }
.modal-2VIBV8.root-1gCeng > .footer-2gL1pp { background-color: #151718; }

/* snippets taken from the powercord community, each having the id to the original message */

/* Have the # symbol glow white when the channel is unread - 818383883870666772 */
.modeUnread-1qO3K1>div>a>div>.icon-1DeIlz{
  color:#b9bbbe;
}
/* mobile jump to present bar - 821960077132038184 */ 
.jumpToPresentBar-G1R9s6{
    visibility: hidden;
    bottom:15px;
}
.barButtonIcon-3t4V3d{
    visibility: visible;
    padding:11px;
    background-color: #0F1011;
    border-radius: 50%;
}
/* Add transparency & blur to the loading screen - 824102340079648779 */
.container-16j22k {
  background-color: rgba(0,0,0,0.8);
  backdrop-filter: blur(5px);
}
/* Blurred see through settings - 822405626021675029 */
.layers-3iHuyZ>.layer-3QrUeG:first-child{
  transform: scale(1) !important;
  opacity: 1 !important;
}
.layers-3iHuyZ>.layer-3QrUeG:nth-child(2),.perksModal-fSYqOq{
  background-color: rgba(0, 0, 0, 0.5)!important;
  backdrop-filter: blur(9px);
}
.contentRegionScroller-26nc1e,.contentRegion-3nDuYy,.standardSidebarView-3F1I7i,
.sidebarRegionScroller-3MXcoP{
  background: transparent;
}
/* Fix for see through settings (css above) - 822407939050176547 */
.titleContainer-2CXtJo {
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 5px;
}
.header-2mZ9Ov {
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 5px;
}
/* userarea Thing */
.container-3baos1 {
   background-color: #0F1011;
   margin-bottom: 0px;
   padding: 0 55px;
}
.activityPanel-28dQGo {
    background-color: #121314;
}
/* textarea thing */
.scrollableContainer-2NUZem {
  background-color: #2e3236;
}
/* no scrollbar */
::-webkit-scrollbar-thumb {
    display: none !important;
}
::-webkit-scrollbar-track {
    display: none !important;
}
/* Separate the channels list from the chat box. - 755166410824482937 */
.sidebar-2K8pFh, .chat-3bRxxu, .container-3Mxszk, .container-1D34oG, .applicationStore-1pNvnv {
  border-radius: 15px 15px 0 0 !important
}
.chat-3bRxxu, .container-1D34oG, .container-3Mxszk, .applicationStore-1pNvnv {
  position: relative;
  left: 5px;
  padding-right: 5px
}
/* swag member-chat idk what to call it - 764063430076137493 */
.members-1998pB {
  border-radius: 15px 15px 0 0 !important;
}
.membersWrap-2h-GB4, .members-1998pB {
  left: 15px;
  margin-right: 10px
}
.chat-3bRxxu {
  background: var(--background-tertiary);
}
.chatContent-a9vAAp {
  background-color: var(--background-primary);
  border-radius: 0 15px 0 0 !important;
  left: 25px;
  margin-left: -25px
}
/* minified searchbar - 819862857494822923 */
.searchBar-3dMhjb {
  order: -1;
  width: 28px;
  transition: width 0.1s ease-in-out;
}
/* Compact Status Menu - 760824503571316746 */
.status-1fhblQ, .description-2L932D {
    display: none;
}
.separator-2I32lJ {
    display: none;
}
.mask-1qbNWk.icon-1IxfJ2 {
    --status-icon-size: 75%;
    height: var(--status-icon-size); 
    width: var(--status-icon-size);
    margin-left: 33%;
}
.animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 > .menu-3sdvDG.styleFixed-sX-yHV > .scroller-3BxosC.thin-1ybCId.scrollerBase-289Jih {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    visibility: visible;
}
.item-1tOPte.colorDefault-2K3EoJ:nth-of-type(7) {
    grid-column: 1/5;
}
.animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 {
    transition: opacity 0.15s linear 0s;
}
.customText-tY5LJn {
    font-size: 15px;
}